/*script containing classes used throughout all pages*/

/* backing of card */
.project-card {
  position: relative;
  height: 300px;
  width: 400px;
  padding: 8px;
  margin: 20px;
  border: 2px #6432a8 ridge;
  box-sizing: border-box;
  transform: translateY(0);
  opacity: 0;
  animation: slide-down 2s ease forwards;
}

@keyframes slide-down {
  from {transform: translateY(0); opacity: 0;}
  to { transform: translateY(20px); opacity: 1;}
}

/* project image */
.project-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*overlay used to impose image over the project card*/
.overlay {
  position: absolute;
  left: 50%;
  width: 90%;
  transform: translateX(-50%); #/*shifting backwards for perfect centering*/
  height: 10%;
  padding: 2px;
  color: white;
  background: rgba(0,0,0,0.6);
  text-align: center;
}

/*adding top and bottom classes to overlay so that the images are affixed close to the top and bottom of the full card*/
.overlay.top {top: 8px;
             }
.overlay.bottom {bottom: 8px;
                }


/*adding hover effect that links to a description of each project in their respective pages*/
a.project-card:hover {background-color: darkblue;
    cursor: pointer;}

/* small click effect after card is clicked*/
a.project-card:active {
    transform: scale(0.90);}

/* for animation staggering*/
.slide1 { animation-delay: 0s; }
.slide2 { animation-delay: 0.3s; }
.slide3 { animation-delay: 0.6s; }

/* flexbox for horizontal alignment of cards*/
.projects-container {
  display: flex;          
  flex-wrap: wrap;        
  gap: 20px;              
  justify-content: center; 
}

