/*script containing classes used throughout all pages*/

/* backing of card */
.project-card {
  position: relative;
  height: 450px;
  width: 450px;
  padding: 8px;
  margin: 20px;
  border: 2px #6432a8 ridge;
  box-sizing: border-box;
  transform: translateY(0);
  opacity: 0;
  animation: slide-down 2s ease forwards;
  flex: 0 0 auto;
}

@keyframes slide-down {
  from {transform: translateY(0); opacity: 0;}
  to { transform: translateY(20px); opacity: 1;}
}

/* project image */
.project-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*overlay used to impose image over the project card*/
.overlay {
  position: absolute;
  left: 50%;
  width: 90%;
  transform: translateX(-50%); /*shifting backwards for perfect centering*/
  height: 10%;
  padding: 2px;
  color: white;
  background: rgba(0,0,0,0.9);
  text-align: center;
  font-size: 0.8rem;  /* smaller text to avoid underfitting*/
  white-space: normal; /* preventing text from wrapping */
  line-height: 1.2em;
  overflow: hidden;
  box-sizing: border-box;
}

/*adding top and bottom classes to overlay so that the images are affixed close to the top and bottom of the full card*/
.overlay.top {top: 8px;
             }
.overlay.bottom {bottom: 8px;
                }


/*adding hover effect that links to a description of each project in their respective pages*/
a.project-card:hover {background-color: darkblue;
    cursor: pointer;}

/* small click effect after card is clicked*/
a.project-card:active {
    transform: scale(0.90);}

/* for animation staggering*/
.slide1 { animation-delay: 0s; }
.slide2 { animation-delay: 0.3s; }
.slide3 { animation-delay: 0.6s; }

/* flexbox for horizontal alignment of cards, but scrollable*/
.projects-container {
  width: 90vw;
  padding: 0 20px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;  
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px; 
}

/*hiding scrollbar*/
.projects-container::-webkit-scrollbar {
  height: 8px;
}

.projects-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

